/**
 * Site settings
 */

/* Typography */
$base-font-size: 16px;
$font-1: "Open Sans", Helvetica, sans-serif;

$baseline: $base-font-size * 1.5;

/* Colors Old */
$color-background: #fff;

$color-link: red;
$color-link-hover: blue;

$color-light-text: #BFBFBF;
$color-dark-text: #464646;

$color-1: #0b4770;
$color-2: #1273b6;
$color-3: #efefef;
$color-4: #aeadae;
$color-5: #dfad15;
$color-6: #10649e;

$color-validation-error: red;
$color-validation-success: green;

/* Colors */
$color-background-dark: #2D2D2D;
$color-bg-page: #FFFFFF;
$color-btn-primary: #10649e;
$color-btn-primary-hover: #053b61;
$color-btn-secondary: #3cb8d1;
$color-btn-secondary-hover: #038ca5;
$color-dash-tile-bg: #353535;
$color-dash-tile-border: #E3E3E3;
$color-dash-tile-on: #FFBA00;
$color-dash-tile-text: #FFFFFF;
$color-form-help-text: #939191;
$color-highlight-dark: #424242;
$color-highlight-light: #BFBFBF;
$color-panel-bg: #F1F1F1;
$color-panel-border: #E6E6E6;
$color-plugin-tile-bg: #FFFFFF;
$color-plugin-tile-border: #aeadae;
$color-selector-tile-bg: $color-dash-tile-bg;
$color-selector-tile-on-bg: $color-dash-tile-on;
$color-sidebar-bg: #333333;
$color-sidebar-header-bg: #424242;
$color-subnav-bg: #33414e;
$color-subnav-text: #FFFFFF;
$color-subnav-active: #3cb8d1;
$color-text: #26313d;
$color-text-dark: #062031;
$color-text-light: #a5a5a5;
$color-success: green;
$color-warn: #FCCE00;
$color-error: red;

/* Positioning */
$margin-side: 40px;
$nav-height: 80px;
$subnav-height: 45px;
$tab-spacing: 5px;
$tab-panel-margin-side: 30px;
