.button {
	margin: 0;
	padding: 1em 3em;
	background-color: $color-btn-primary;
}

button:focus {
	outline: 0;
	background: $color-1;
}

.button:hover {
	background-color: $color-btn-primary-hover;
}

.button.secondary:hover {
	background-color: #1790e4;
	color: #fff;
}

.button.secondary {
	background-color: $color-2;
	color: #fff;
}

.ladda-button {
	background-color: $color-btn-primary;
}

.ladda-button:hover {
	background-color: $color-btn-primary-hover;
}