.upload-widget {
	display: block;
	height: 190px;
	max-width: 150px;
	min-width: 125px;
	border-radius: 5px;
	border: solid 1px $color-3;
	background: black;
	text-align: center;
	margin-bottom: 20px;
	margin-right: 10px;
	img {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	hr {
		width: 80%;
	}
	a {
		color: #fff;
	}
	p {
		margin: 10px;
		padding-top: 15px;
		border-top: 1px solid white;
		font-size: .75em;
		line-height: 1.1em;
		color: #fff;
		font-weight: normal;
	}
	.dz-success-mark {
		color: #fff;
		font-size: 1.5em;
	}
	.dz-error-mark {
		color: #fff;
		font-size: 1.5em;
	}
}