/**
 * Navigation.
 */

.nav {
	width: 100%; 
	height: $nav-height; 
	line-height: $nav-height; 
	margin-bottom: 20px;
	background: $color-panel-bg;
	vertical-align: middle;
	img {
		margin-top: -5px;
		margin-left: $margin-side;
	}
	select {
		width: 20%;
		outline: none;
		margin-right: $margin-side * 2;
	}
	.fa-bars {
		font-size: 1.5em;
		margin-right: $margin-side;
	}
	.right {
		i {
			color: $color-btn-primary;
		}
	}
}