.wizard-bar {
	background: $color-background;
	text-align: center;
	padding-top: 15px;
	li {
		display: inline-block;
		overflow: hidden;
		color: $color-1;
		font-size: .8em;
	}
}

.wizard-item {
	border-radius: 50%;
	border: 1px solid $color-subnav-bg;
	background: #fff;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 10px;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
}

.wizard-item.active {
	color: #fff;
	background: $color-subnav-bg;
}

@media (max-width: 40em) {
	.wizard-item {
		width: 5.5em;
		height: 5.5em;
		min-width: 5.5em;
		min-height: 5.5em;
		max-width: 5.5em;
		min-width: 5.5em;
		line-height: 5em;
	}
	li.wizard-item {
		font-size: .4em;
	}
}

@media (min-width: 40.063em) {
	.wizard-item {
		width: 6em;
		height: 6em;
		min-width: 6em;
		min-height: 6em;
		max-width: 6em;
		min-width: 6em;
		line-height: 6em;
	}
	li.wizard-item {
		font-size: .8em;
	}
}
