<div class="large-12 columns footer-bar">
	<% if (showBack) { %>
    	<button id="back" class="radius ladda-button shadow-1" data-style="zoom-in"><span class="ladda-label"><i class="fa fa-chevron-left">&nbsp;Back</i></span></button>
    <% } %>
    &nbsp;&nbsp;
    <button id="next" class="radius ladda-button shadow-1" data-style="zoom-in"><span class="ladda-label"><%= (activeTab) == 'complete' ? strings.GotoConsole : strings.Next %>&nbsp;<i class="fa fa-chevron-right"></i></span></button>
</div>