<div class="row">
    <div class="large-12 columns header-bar">
        <%= strings.PasswordWelcome %>
    </div>
</div>
<div class="page-container">
	<div class="row">
		<div class="large-9 medium-9 columns">
			<label id="passwordLabel"><%= strings.Password %>
				<input id="password1" class="radius" type="password" />
			</label>
			<small id="passwordError" class="error" style="display: none;"></small>
            <p class="input-help-text"><%= strings.PasswordHelp %></p>
		</div>
	</div>
	<div class="row">
		<div class="large-9 medium-9 columns">
			<label id="repeatLabel"><%= strings.RepeatPassword %>
				<input id="password2" class="radius" type="password" />
			</label>
			<small id="repeatError" style="display: none;" class="error"></small>
            <p class="input-help-text"><%= strings.RepeatPasswordHelp %></p>
		</div>
	</div>
</div>

