<div class="row">
    <div class="large-12 columns header-bar">
        <%= strings.StartWelcome %>
    </div>
</div>
<div class="page-container">
    <div class="row">
        <div class="large-10 medium-10 small-12 columns large-centered medium-centered">
            <div class="row">
                <div class="large-12 columns">
                    <label id="nameLabel"><%= strings.HubNickname %>
                    <input id="name" class="radius" type="text" value="<%= config.values ? config.values.name : '' %>" />
                    </label>
                    <small id="nameError" class="error" style="display: none"></small>
                    <p class="input-help-text"><%= strings.NicknameHelp %></p>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label id="addressLabel"><%= strings.HubAddress %>
                    <input id="address" class="radius" type="text" value="<%= config.values ? config.values.address : '' %>" placeholder="<%= strings.AddressPlaceholder %>" />
                    </label>
                    <small id="addressError" class="error" style="display: none;"></small>
                    <p class="input-help-text"><%= strings.AddressHelp %></p>
                </div>
            </div>
            <div id="latlong" class="row" style="display: none;">
                <div class="large-6 medium-6 columns">
                    <label><%= strings.Latitude %>
                    <input id="latitude" class="radius" type="text" value="<%= config.values ? config.values.latitude : '' %>" placeholder="<%= strings.Latitude %>" />
                    </label>
                </div>
                <div class="large-6 medium-6 columns">
                    <label><%= strings.Longitude %>
                    <input id="longitude" class="radius" type="text" value="<%= config.values ? config.values.longitude : '' %>" placeholder="<%= strings.Longitude %>" />
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns" style="text-align: center; margin-top: 1.5em;">
            <p class="input-help-text"><%= strings.SkipSetupPrompt %></p>
        </div>
    </div>
</div>
<div id="footer-container"></div>
